body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: aliceblue;
}

.profile-img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #0d6efd;
}

h4 {
  color: navy;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;

}

.section-title {
border-bottom: 2px solid #0d6efd;
padding-bottom: 5px;
margin-bottom: 15px;  
}

ul li {
  margin-bottom: 8px;
}

.icon{
  color: #0d6efd;
  margin-right: 8px;
}

a{
  text-decoration: none;
  color: black;
}

.about p {
  text-align: justify;
}

a:hover {
  color: #0d6efd;
}

